* {
    box-sizing: border-box;
}

img {
    width: 50%;
}

button {
    width: 10%;
    padding: 0%;
}

.nav-toggle {
    cursor: pointer;
    width: 5%;
}

.nav-toggle:hover {
    background:grey;
    color: white;
}

body {
    background-color: grey;
}

.menu {
    visibility: hidden;
    display: inline;
    list-style: none;
    padding: 0;
    /* transition: all 0s cubic-bezier(.15,.7,0,1); */
    transition-timing-function: ease-in;
    
    
}

.menu a {
    display: block;
    text-decoration:none;
    padding:.5em .5em;
    margin-bottom:.2em;
    width: 10%;
    border: 1px solid black;
    transition: all 0s;

}

.menu a:hover {
    margin: 0;
}

.grey {
    background-color: grey;
    color: white;
    
}

.orange {
    background-color: orange;
    
}

.red {
    background-color: red;
    
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
    color: white;
}

.yellow {
    background-color: yellow;
}

.purple {
    background-color: purple;
    color: white;
}

.orangeBg {
    background-color: orange;
}

.transition {
    transition: background-color 2s ease-out;
}

